.offers-section {
  position: relative;
}
.swiper{
  height: 150%;
}
.swiper-pagination {
 position: absolute;
 top: 70% !important;
}
.discount-section{
  background: url(../public/discount-bg.png) no-repeat;
  background-position: 100%;

}
